<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,224}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{220,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{220,224}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{220,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{220,224}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{220,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,228},{220,224}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{220,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{220,224}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{220,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,454},{220,224}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{220,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{220,224}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{220,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>b2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8db3c969cb4ad9dfc0c372f0779675f$</string>
            <key>textureFileName</key>
            <string>b2.png</string>
        </dict>
    </dict>
</plist>
